<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ asset("js/get_tweets.js") }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}"></script>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<div class="wrapper">

  <div class="tweet-wrapper">
    <div class="full-tweet">
      <div class="profile-pic"></div>
      <div class="tweet-username"></div>
      <div class="tweet-message"></div>
    </div>
  </div>
  <div class="tweet-media"></div>

</div>

<script>
  var app_url = document.domain + "{{ app.request.getBaseURL() }}";
  console.log(app_url);
</script>
