body {
  font-family: helvetica;
  font-size: 2em;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
}

.tweet-wrapper {
  background: rgb(224, 224, 224);
  min-height: 100px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
}

.full-tweet {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.profile-pic {
  width: 73px;
  float: left;
  margin-right: 10px;
}

.tweet-media {
  margin-top: 20px;
}

.tweet-media img {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: 0 auto;
}
