body {
  font-family: helvetica;
  font-size: 2em;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
}

.tweet-wrapper {
}

.full-tweet {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.tweet-message {
  float: left;
}

.tweet-username {
  font-weight: bold;
}

.profile-pic {
  width: 73px;
  float: left;
  margin-right: 10px;
}

.tweet-media {
  margin-top: 20px;
}

.tweet-media img {
  float: left;
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
