body {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  background: rgb(34, 0, 0);
}

.wrapper {
  margin-top: 10px;
}

.tweet-wrapper {
  width: 100%;
}


.full-tweet {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.tweet-message {
  font-weight: bold;
  color: rgb(209, 209, 209);
  margin-left: 90px;
}

.tweet-username {
  font-weight: bold;
  font-size: .7em;
  color: rgb(109, 109, 109);
}

.profile-pic {
  width: 73px;
  float: left;
  margin-right: 10px;
}

.profile-pic img {
  border-radius: 3px;
}

.tweet-media {
  margin-top: 80px;
}

.tweet-media img {
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin: 0 auto;
}
